FLASK_ENV=development
SECRET_KEY=
JWT_SECRET_KEY=
DATABASE_URL=

MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
MPESA_ENV=sandbox

MAIL_USERNAME=
MAIL_PASSWORD=

FRONTEND_URL=http://localhost:5173